.publicacao-texto p{
    font-size: 16px;
    text-align: justify;
}

.post-title{
    margin: 0;
}

.slider-icon:hover{
    color: black;
}

.post-update{
    color: #505050;
    font-size: 14px;
    margin: 0;
}
.post-author{
    color: #505050;
    margin: 0 12px 0;
}